.btnDark {
  background-color: #262626;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btnLight {
  background-color: #4094ef;
  color: #ffffff;
  border: none;
}

.profile-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.myprofile-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 25px;
  padding-left: 0px;
} */

.myprofile-container {
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.profile-data {
  display: flex;
  padding-left: 30px;
}

/* @media screen and (max-width: 900px) {
  .myprofile-container {
    height: 100%;
  }
} */

@media screen and (min-width: 1200px) {
  .profile-data {
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  .profile-loader-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  .profile-data {
    justify-content: center;
  }
}
